body {
font-family: Arial;
text-align: center;
background: #1e1e2f;
color: white;
}

.board {
display: grid;
grid-template-columns: repeat(3,100px);
grid-gap: 5px;
justify-content: center;
margin: 20px auto;
}

.cell {
width:100px;
height:100px;
background:#2f2f4f;
font-size:40px;
display:flex;
align-items:center;
justify-content:center;
cursor:pointer;
}

.controls {
margin-top:20px;
}

.status {
font-size:20px;
margin-top:15px;
}

button {
padding:10px;
margin-top:10px;
}
